/* Style for the title block */
.title-block {
    background-image: url("../assets/title_image.png");
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    background: rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.title h1 {
    font-family: alpine;
    font-size: 75px;
    color: rgb(224, 156, 193);
}

.title p.author {
    font-family: bell;
    font-size: 20px;
    color: rgb(224, 156, 193);
}
